<!--Footer-->
<footer
  class="page-footer center-on-small-only"
  style="background-color: rgb(114, 155, 255)"
>
  <!--Footer Links-->
  <div class="container">
    <div class="row">
      <!--First column-->
      <div class="col-md-2">
        <h5 class="title mb-4 mt-3 font-bold light">Información</h5>
        <p>
          RAYO es una plataforma ideada para solucionar necesidades financieras
          ocasionales, nos especializamos en mini prestamos al instante, sin
          fiadores y en menos de 24 horas te depositamos.
        </p>
      </div>
      <!--/.First column-->

      <hr class="clearfix w-100 d-md-none" />

      <!--Second column-->
      <div class="col-md-2 mx-auto">
        <h5 class="title mb-4 mt-3 font-bold light">
          ¡Mini Préstamos al instante!
        </h5>
        <ul></ul>
      </div>
      <!--/.Second column-->

      <hr class="clearfix w-100 d-md-none" />

      <!--Third column-->
      <div class="col-md-2 mx-auto">
        <h5 class="title mb-4 mt-3 font-bold light">Contáctenos</h5>
        <ul>
          <li>
            <i class="fa fa-map-marker"></i>
            <p>
              <strong class="contact-pad">Dirección:</strong> Avenida Primera,
              Calle 3, Edificio Omni, primer nivel, San José, Costa Rica.
            </p>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <p><strong>Teléfono:</strong> +506 41033400</p>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <p>
              <strong>Email:</strong
              ><a style="color: #fff" href="mailto:info@rayo.cr"
                >info@rayo.cr</a
              >
            </p>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="clearfix w-100 d-md-none" />

      <!--Fourth column-->
      <div class="col-md-2 mx-auto">
        <h5 class="title mb-4 mt-3 font-bold light">Escríbanos!</h5>
        <ul>
          <li>
            <p>
              Haz tus consultas sobre nuestos mini prestamos. <br />Te
              respondemos en menos de 24 horas! <br />
            </p>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->

      <!--5 column-->
      <div class="col-md-4 mx-auto">
        <h5 class="title mb-4 mt-3 font-bold light">Ejemplo Prestamo!</h5>
        <ul>
          <li>
            <p>
              Préstamos personales sujetos a calificación crediticia. Ejemplo de
              préstamo: ¢100,000 colones, Tasa de Interés Efectiva Anual (TEA:
              30%) : ¢3,750.00, Tecnología : ¢58,500.00 - en tres cuotas, en
              colones, de ¢54,083.33 c/u. Cuota con vencimiento variable acorde
              a la selección del usuario. Plazo de los préstamos: 90 a 365 días.
              Los costos por tecnología y administrativos varían acorde al plazo
              del Préstamo. Prestamos sujetos a verificación crediticia.
            </p>
          </li>
        </ul>
      </div>
      <!--/.5 column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <hr />

  <!--Copyright-->
  <div class="footer-copyright" style="background: #212733; padding: 15px">
    <div class="container-fluid">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" align="center">
        <p class="credits">
          &copy; Copyright 2021 by <a href="#">Rayo Credit</a>. All Rights
          Reserved.
        </p>
      </div>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
