<div Style="background: #e2edf3;height:300px;">
  <div Style="float:left;text-align:center;margin-left:32%;">
    <p Style="padding-top:50px;" Class="BLUE">¡LO SENTIMOS!</p>

    <p Style="float:left;" Class="blue">Ya cuentas con un prestamo activo.</p>
    <br />
    <br />
    <a
      Class="btn"
      Style="background: #ffc502; color: #025FA3;margin-top:20px; "
      [routerLink]="['']"
      >Inicio</a
    >
  </div>
  <div>
    <img
      Style="width: 20%;float:left; "
      Src="https://storage.googleapis.com/www.rayo.cr/imagenesRayo/RAYOColIntenteMeses.png"
    />
  </div>
</div>
