<div Style="background: #e2edf3;height:300px;">
                                                
    <div Style="float:left;text-align:center;margin-left:32%;">
        <p Style="padding-top:50px;" Class="BLUE">¡LO SENTIMOS!</p>

            <p Style="float:left;" Class="blue">Ya eres un rayero con beneficios!<br/>
                Ya tienes cuenta con RAYO, haz click aquí para que ingreses a nuestra sección de miembros</p>
            <br />
        <br />
            <a Class="btn" Style="background: #ffc502; color: #025FA3;margin-top:20px; " [routerLink]="['/login']">Miembros</a>
        
    </div>
    <div>
        <img Style="width: 20%;float:left; " Src="https://www.rayo.cr/img/RAYOCol_Intente%203%20meses.png"/>
    </div>
</div>